:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #FFFFFF; 
    --primary-hover-color: #2196F3;
    --balck-color: #000000;
    --secondary-background-color:#2F303A;
    --secondary-white-color:#F5F4FA;
    --contacts-link-color: rgba(255,255,255,0.6);
    --hero-button-hover-color: #188CE8;
}
body{
    color: var(--primary-text-color);
    background-color:  var(--primary-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
   
}


/* Navigation */
.nav-list, .nav-contacts{
    list-style: none;
}
.nav-link{
    text-decoration: none;  
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link-contacts{
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
 .nav-link-contacts:hover, .nav-link-contacts:focus,
 .nav-list .link-current, .nav-link:hover, .nav-link:focus,  
 .f-contact-link:hover, .f-contact-link:focus{
    color: var(--primary-hover-color);  
}
.nav-link-logo{
    text-decoration: none;
    color: var(--balck-color);
}
.logo-part{
    color: var(--primary-hover-color);
}
/* logo */
.logo{
    font-family: Raleway, sans-serif;
    color: var(--balck-color)   
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}


/* Main */
/* Hero */
.hero{
    background-color: var(--secondary-background-color);
}
.hero-heading{
    color: var(--primary-white-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.hero-button{
    color: var(--primary-white-color);
    background-color: var(--primary-hover-color);
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
.hero-button:hover, .hero-button:focus{
    background-color: var(--hero-button-hover-color);
}


/* Features */
.features ul{
    list-style: none;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.f-heading{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}
.f-paragraph{
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

/* What we doing */
.work-sphere-heading, .team-heading{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.work-sphere ul{
    list-style: none;
}


/* Our Team */
.team{
    background-color: var(--secondary-white-color);
}
.team ul{
    list-style: none;
}
.team li{
    background-color: var(--primary-white-color);
}
.teammate{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.teammate-position{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}


/* Footer */
footer{
    background-color: var(--secondary-background-color);
}
footer ul{
    list-style: none;
}
.f-logo{
    color: var(--primary-white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    

}
.f-address-link{
    text-decoration: none;
}
address{
    font-style: normal;
}
.phis-address{
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.71;
}
.f-contact-link{
    color: var(--contacts-link-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
}
.f-contact-link:hover, .f-contact-link:focus{
    color: var(--primary-hover-color);
}


/* Portfolio */
/* Filters */
.w-filters {
    list-style: none;
}
.filter{
    background-color: var(--secondary-white-color);
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}
.filter:hover, .filter:focus{
    background-color: var(--primary-hover-color);
    color: var(--primary-white-color);
}

/* Works  */
.work{
    text-decoration: none;
}
.w-list{
    list-style: none;
}
.w-list-item{
    background-color: var(--primary-white-color);
}
.work .w-name{
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.work .w-filter{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
}
