:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #FFFFFF; 
    --primary-hoover-color: #2196F3;
}
body{
    color: var(--primary-text-color);
    background-color:  var(--primary-white-color);
    font-family: Roboto, sans-serif; 
   
}


/* Navigation */
header{
    background-color: #ECECEC;
}
nav{
    background-color: var(--primary-white-color);
}
.nav-list, .nav-contacts{
    list-style: none;
}
.nav-link{
    text-decoration: none;  
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link-contacts{
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link-contacts:hover, .nav-link-contacts:focus{
    color: var(--primary-hoover-color);  
}
.nav-list .link-current{
    color: var(--primary-hoover-color);
}


.nav-link:hover{
    color: var(--primary-hoover-color);
}

/* logo */
.logo{
    font-family: Raleway, sans-serif;
    color: #000000;    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-part{
    color: var(--primary-hoover-color);
}


/* Main */
/* Hero */
.hero{
    background-color: #2F303A;
}
.hero-heading{
    color: var(--primary-white-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.hero-button{
    color: var(--primary-white-color);
    background-color: var(--primary-hoover-color);
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}


/* Features */
.features ul{
    list-style: none;
}
.features-heading{
    display: none;
}
.f-heading{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.f-paragraph{
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* What we doing */
.work-sphere-heading, .team-heading{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.work-sphere ul{
    list-style: none;
}


/* Our Team */
.team{
    background-color: #F5F4FA;
}
.team ul{
    list-style: none;
}
.team li{
    background-color: var(--primary-white-color);
}
.teammate{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.teammate-position{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}


/* Footer */
footer{
    background-color: #2F303A;
}
footer ul{
    list-style: none;
}
.f-logo{
    color: var(--primary-white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;

}
.f-address-link{
    text-decoration: none;
}
address{
    font-style: normal;
}
.phis-address{
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.f-contact-link{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.f-contact-link:hover, .f-contact-link:focus{
    color: var(--primary-hoover-color);
}


/* Portfolio */
/* Filters */
.w-heading{
    display: none;
}
.w-filters {
    list-style: none;
}
.filter{
    background-color: #F5F4FA;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
}
.filter:hover, .filter:focus{
    background-color: var(--primary-hoover-color);
    color: var(--primary-white-color);
}

/* Works  */
.w-list{
    list-style: none;
}
.w-list-item{
    background-color: var(--primary-white-color);
}
.w-name{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.w-filter{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}